* {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

html,
body {
	min-height: 100vh;
	scrollbar-gutter: stable;
	font-size: 16px;
}

html,
body,
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
}

p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


li,
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	font-family: inherit;
}